name: Build LaTeX document
on: 
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Set up TeX Live
        uses: xu-cheng/latex-action@v3
        with:
          latexmk_use_xelatex: false
          latexmk_shell_escape: false
          root_file: Devendra_Sahu-DevOps-9Years.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: Devendra_Sahu-DevOps-9Years.pdf